body{
    width: 100%;
    height: 100vh;
    background-image: url(http://192.168.0.230/Image/Background);
}

header {
    margin: 1em auto;
    text-align: center;

}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width:auto;
    
}
.board{
    margin: 20px;
    padding: 0px;

}

.mainCards.col-xs-1, .space.col-xs-1, .points.col-xs-1, .money.col-xs-1, .curse.col-xs-1, .hand.col-xs-1{
    width: 208px;
    height: 324px;
    padding: 0;
}

.trash.col-xs-3{
    width: 624px ;
    height: 324px;
    padding: 0;
}

.mainCards, .hand {
    border: 4px solid #a6abae;
}

.points {
    border: 4px solid #96da67;
}

.money{
    border: 4px solid #f3cf5c;
}

.curse, .trash {
    border: 4px solid #9d5fb1;
}

.playerName {
    background-color: rgba(0,0,0,0);
    border: white;
}

.btn {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffedd3;
  text-transform: uppercase;
  position: relative;
  transition: .3s ease;
}

.btn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: .3s ease;
}

.btn:hover {
  color: #1e1e2b;
  transition-delay: .3s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: .2s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.2s;
  color: aliceblue;
}

.btn2 {
    font-size: 16px;
    background: transparent;
    border: none;
    padding: 1em 1em;
    color: #573d19;
    text-transform: uppercase;
    position: relative;
    transition: .3s ease;
  }
  
  .btn2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #3e718b;
    transition: .3s ease;
  }
  
  .btn2:hover {
    color: white;
    transition-delay: .3s;
  }
  
  .btn2:hover::before {
    width: 100%;
  }
  
  .btn2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #3e718b;
    transition: .3s ease;
    z-index: -1;
  }
  
  .btn2:hover::after {
    height: 100%;
    transition-delay: 0.2s;
    color: rgb(36, 78, 114);
  }

  .small{
    font-size: 36px;
    padding: 0;
  }


  .resources {
    background-color: #96da67;
    width:fit-content;
    font-size: 14px;
    font-weight: bold;
  }

 .playerhand{
  font-size: 34px;
  font-weight: bold;
 }


 .overlay{
  color:cornsilk;
  border-radius: 50%;
  background-color: rgba(205, 92, 92, 0.9);
  width:30px;
  height:30px;
  display: inline-block;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  bottom: 115px;
  right:7.5px;
  display: none;
 }

 .turnoverlay{
  position: fixed; /* Sit on top of the page content */
  display: none;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.75);
  color: white;
  font-size: 60px;
  z-index: 2;
  text-align: center;
  
 }

 .overlaytext{
  position: relative;
  top:50%;
 }
 

 .gameendoverlay{
  position: fixed;
  display: none;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.75);
  color: white;
  font-size: 60px;
  z-index: 2;
  text-align: center;
  
 }