body{
    width: 100%;
    height: 100vh;
    background-image: url(http://192.168.0.230/Image/Background);
}

header {
    margin: 1em auto;
    text-align: center;

}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width:auto;
    
}
.board{
    margin: 20px;

}

.mainCards.col-xs-1, .space.col-xs-1, .points.col-xs-1, .money.col-xs-1, .curse.col-xs-1{
    width: 208px;
    height: 324px;
    padding: 0;
}

.trash.col-xs-3{
    width: 624px ;
    height: 324px;
    padding: 0;
}

.mainCards {
    border: 4px solid #a6abae;
}

.points {
    border: 4px solid #96da67;
}

.money{
    border: 4px solid #f3cf5c;
}

.curse, .trash {
    border: 4px solid #9d5fb1;
}


