body{
    width: 100%;
    height: 100vh;
}

header {
    margin: 1em auto;
    text-align: center;

}

.board{
    margin: 0 auto;
}

.mainCards, .points{
    width: 218px;
    height: 325px
    
}

.mainCards {
    border: 2px solid red;
}

.points {
    border: 2px solid green;
}